<!DOCTYPE html>
<html>
<head>
  <!-- Add the Google Fonts link to include Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- Add Bootstrap CSS link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black py-3">
    <div class="container-fluid">
      <div class="text-center mx-auto"> <!-- Use mx-auto class to center the title -->
        <!-- Center the title text, make it bigger using h1, and use the Roboto font -->
        <%= link_to "Travel Diary", root_path, { class: "navbar-brand fs-1 fw-bold", style: "font-family: 'Roboto', sans-serif;", "aria-label" => "Travel Diary Home", "role" => "navigation" } %>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Remove the "New Entry" button <li> element -->
      </ul>
    </div>
  </nav>

  <!-- Add Bootstrap JS link -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

